@import url("themes/rose-pine-dawn.css");

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  min-height: 0;
}

window {
  border-radius: 40px;
}

window#waybar {
  background-color: @color-bar-background;
}

#workspaces button {
  color: @color-workspace-inactive-foreground;
  margin-right: 8px;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  background-color: transparent;
  box-shadow: none;
}

#workspaces button.focused {
  color: @color-workspace-active-foreground;
}

#workspaces,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language,
#mpd,
#custom-bitcoin-price,
#custom-separator,
#custom-gpu,
#custom-icon,
#custom-break,
#custom-powerbutton {
  background: @color-tile-background;
  padding: 2px 12px;
  margin: 5px 4px;
  border-radius: 40px;
}

/* Modules */

#clock {
  color: @color-clock-foreground;
}

#pulseaudio {
  color: @color-volume-foreground;
}

#backlight {
  color: @color-brightness-foreground;
}

#memory {
  color: @color-ram-foreground;
}

#cpu {
  color: @color-cpu-foreground;
}

#network {
  color: @color-network-connected-foreground;
}

#network.disconnected {
  color: @color-network-disconnected-foreground;
}

#clock {
  color: @color-clock-foreground;
}

#temperature {
  color: @color-cpu-temperature-normal-foreground;
}

#temperature.critical {
  color: @color-cpu-temperature-critical-foreground;
}

#battery {
  color: @color-battery-foreground;
}

#battery.critical {
  animation: battery-low 3s infinite;
}

#battery.charging {
  color: @color-battery-charging-foreground;
}

#language {
  color: @color-language-foreground;
  min-width: 16px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-bitcoin-price {
  color: @color-bitcoin-foreground;
}

#custom-separator {
  margin: 0;
  padding: 0;
}

#custom-icon {
  color: @color-launcher-foreground;
  margin-left: 5px; /* Waybar padding */
}

#custom-powerbutton {
  color: @color-power-button-foreground;
  font-size: 13px;
  margin-right: 5px; /* Waybar padding */
}

#custom-break {
  color: @color-break-inactive-foreground;
}

#custom-break.enabled {
  color: @color-break-active-foreground;
}

@keyframes battery-low {
  0% {
    background: @color-battery-critical-0-background;
    color: @color-battery-critical-0-foreground;
  }
  50% {
    background: @color-battery-critical-50-background;
    color: @color-battery-critical-50-foreground;
  }
  100% {
    background: @color-battery-critical-100-background;
    color: @color-battery-critical-100-foreground;
  }
}
