@import url("themes/macchiato.css");

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  min-height: 0;
}

window {
  border-radius: 40px;
}

window#waybar {
  background-color: @surface0;
}

#workspaces button {
  color: @overlay2;
  margin-right: 8px;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  background-color: transparent;
  box-shadow: none;
}

#workspaces button.focused {
  color: @text;
}

#mode {
  background-color: #64727d;
}

#workspaces,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language,
#mpd,
#custom-bitcoin-price,
#custom-separator,
#custom-gpu,
#custom-icon,
#custom-break,
#custom-powerbutton {
  color: @text;
  background-color: @surface1;
  padding: 2px 12px;
  margin: 5px 4px;
  border-radius: 40px;
}

/* Modules */

#memory {
  color: @yellow;
}

#cpu {
  color: @mauve;
}

#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

#clock {
  color: @text;
}

#temperature {
  color: @blue;
}

#temperature.critical {
  color: @red;
}

#battery.critical {
  animation: battery-low 3s infinite;
}

#battery.charging {
  color: @rosewater;
}

#language {
  min-width: 16px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-bitcoin-price {
  color: @peach;
}

#custom-gpu {
  color: @green;
}

#custom-separator {
  margin: 0;
  padding: 0;
}

#custom-icon {
  color: @yellow;
  margin-left: 5px; /* Waybar padding */
}

#custom-powerbutton {
  color: @red;
  font-size: 13px;
  margin-right: 5px; /* Waybar padding */
}

#custom-break.enabled {
  color: @yellow;
}

@keyframes battery-low {
  0% {
    background: @red;
    color: @base;
  }
  50% {
    background: @surface1;
    color: @text;
  }
  100% {
    background: @red;
    color: @base;
  }
}
