@define-color base #24273a;
@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color overlay2 #939ab7;
@define-color text #cad3f5;
@define-color yellow #eed49f;
@define-color peach #f5a97f;
@define-color green #a6da95;
@define-color mauve #c6a0f6;
@define-color blue #8aadf4;
@define-color red #ed8796;
@define-color lavender #b7bdf8;
@define-color sky #91d7e3;

* {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

window {
  border-radius: 40px;
}

window#waybar {
    background-color: @surface0;
    padding: 0 5px;
}

#workspaces {
  border-radius: 15px;
  padding: 0 5px;
}

#workspaces button {
    color: @overlay2;
}

#workspaces button:hover {
    background-color: transparent;
    box-shadow: none;
}

#workspaces button.focused {
    color: @text;
}

#mode {
    background-color: #64727D;
}

#workspaces,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language,
#mpd,
#custom-bitcoin-price,
#custom-separator,
#custom-gpu,
#custom-icon {
    color: @text;
    background-color: @surface1;
    padding: 0 12px;
    margin: 5px 4px;
    border-radius: 40px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* Modules */

#memory {
    color: @yellow; 
}

#cpu {
    color: @mauve;
}

#network {
    color: @green; 
}

#network.disconnected {
    color: @red; 
}

#clock {
    color: @sky;
}

#custom-bitcoin-price {
    color: @peach; 
}

#custom-gpu {
    color: @green; 
}

#custom-separator {
    margin: 0;
    padding: 0;
}

#custom-icon {
  color: @yellow;
}

#temperature {
    color: @blue;
}

#temperature.critical {
    color: @red; 
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
