window {
    font-family: Fira Mono;
    font-weight: 500;
    font-size: 14px;
    margin: 5px;
    background-color: #24273a;
    color: #cad3f5;
    border: 2px solid #b7bdf8;
}

#input {
    padding: 10px;
    background: none;
    border: none;
    color: #cad3f5;
}

#entry {
    border: none;
    padding: 10px;
}

#entry:selected {
    border: 2px solid #b7bdf8;
    background-color: #5b6078;
} 

#text {
    padding: 5px;
    background: none;
} 

#text:selected {
    color: #cad3f5;
    background: none;
}

#img {
    background: none;
} 

#inner-box {
    border: none;
    background: none;
}
