@define-color base #24273a;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color surface2 #5b6078;

window {
    font-family: Fira Mono;
    font-weight: 500;
    font-size: 14px;
    margin: 5px;
    background-color: @base;
    color: @text;
    border: 2px solid @lavender;
}

#input {
    padding: 10px;
    background: none;
    border: none;
    color: @text;
}

#entry {
    border: none;
    padding: 10px;
}

#entry:selected {
    border: 2px solid @lavender;
    background-color: @surface2;
} 

#text {
    padding: 5px;
    background: none;
} 

#text:selected {
    color: @text;
    background: none;
}

#img {
    background: none;
} 

#inner-box {
    border: none;
    background: none;
}
